$mainColor: #fff;
$fontFamily: ui-serif;
$fontColor: #000 !important;
$fontWeight: bold;
$fontSize: 25px;

$background-color: linear-gradient(90deg, rgba(213,221,234,1) 0%, rgba(221,228,238,1) 35%, rgba(238, 239, 241,1) 100%);
   