@import "../../src/global.scss";

.homeContainer{
    height:100%;
    .homeRow{
        height: 100%;
        .col1{
            background-color: rgb(235, 211, 232);
            
        }
    }
    
}
